@model MentalHealthASP.Models.AnxietyTest

@{
    ViewBag.Title = "Your Anxiety Test Results";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnxietyResults</title>
</head>
<body>

    <div>
        <h1>Date: @Model.dateTaken </h1><br />
        <h1>Anxiety Test Score</h1> <br />
        <h1>
            @Model.testScore
        </h1>
        <br /><br />
        <h1>Your Comments:</h1> <br />
        <h1>@Model.comments</h1>
    </div>
</body>
</html>
