@model MentalHealthASP.Models.HistoryViewModel

@{
    ViewBag.Title = "Your History";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>History</title>
</head>
<body>

    <h2>Anxiety Test Scores</h2>
    <br />
    @foreach (var a in Model.AnxietyTests)
    {
        @Html.Partial("AnxietyTestSummary", a)
        <br />
    }

    <br />  <br />
    <h2>Depression Test Scores</h2>
    <br />
    @foreach (var d in Model.DepressionTests)
    {
        @Html.Partial("DepressionTestSummary", d)
        <br />
    }

</body>
</html>
