
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Anxiety Test", "AnxietyTest")<br />
        @Html.ActionLink("Depression Test", "DepressionTest")<br />
        @Html.ActionLink("History", "History")<br />
    </div>
</body>
</html>
